        .font-text {
            font-family: 'Poppins', sans-serif;
            color: #A6A9AE;
            font-size: 14px;
            line-height: 26px;
            margin-bottom: 15px;
            font-weight: 600;
            margin-left: 80px;
            margin-top: 24px;
        }

        .font-header {
            font-family: 'Poppins', sans-serif;
            font-size: 50px;
            font-weight: 700;
            color: #291B7D;
            line-height: 1.2;
            word-spacing: 1.2px;
            margin-bottom: 1px;
            margin-top: 160px;
            margin-left: 80px;
        }

        .btn {
            font-family: 'Poppins', sans-serif;
            background: #FF0090;
            text-transform: capitalize;
            color: #fff;
            display: inline-block;
            font-size: 14px;
            font-weight: 600;
            padding: 10px 32px;
            border-radius: 3px;
            border: 0;
            overflow: hidden;
            margin-left: 80px;
        }